.main-container{
 display: grid;
 justify-content: center;
 align-content: center;

 gap: 2px;
 grid-template-columns: 20% auto 20%;
}


.grid{
  display:grid;
  align-items: center;
  height: 80vh;
}

.rules {
  display:grid;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  height: 90vh;
}

h1 {
  text-align: center;
}